//Цвета
$color-1E1E1E: #1e1e1e;
$color-121212: #121212;
$color-131313: #131313;
$color-181818: #181818;
$color-2E2E2E: #2e2e2e;
$color-313131: #313131;
$color-fff: #fff;
$color-CBCBCB: #cbcbcb;
$color-EBEBEB: #ebebeb;
$color-20D2C8: #20d2c8;
$color-1D1D1D: #1d1d1d;
$color-6AEDFC: #6aedfc;
$color-20D2C8-0-7: rgba(106, 237, 252, 0.7);
$color-8068EF: #8068ef;
$color-C445EB: #c445eb;
$gradient-1: linear-gradient(
  180deg,
  rgba(36, 36, 36, 0.46) 26.77%,
  rgba(38, 38, 38, 0.81) 95.29%,
  rgba(33, 33, 33, 0) 115.97%
);

$shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.25);
