@import "media_mixins";
@import "vars_and_mixins";


@mixin flex {
    display: flex;
    flex-direction: row;
}
@mixin after {
  display: inline-block;
  width:4rem;
  content: '';
  position: absolute;
  border-bottom: 1px solid  #606060;
}
@mixin card-button{
   width: 60%;
  height:auto;
    margin: 0 auto;
    position: relative;
    top: -5%;
    display: flex;
    font-family: Raleway;
    font-size: .7rem;
    font-weight: 800;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    border-style:none;
}
@mixin small-button {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  margin-top: 1.2rem;
}
@mixin number {
  font-family: Raleway;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #e4e4e4;
}
@mixin powerful {
  width: 100%;
  height: auto;
  background-color: #383838;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 2%;
}
@mixin shape {
width: 3rem;
height: 3rem;
background-color: #00a99d;
position: absolute;
}
@mixin text {
  font-family: Raleway;
  font-size: 0.7rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  color: #606060;
}
 @mixin mini {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #aaaaaa;
 }
 @mixin about{
 font-family: Raleway;
 font-size: .9rem;
 font-weight: 500;
 line-height: 1.71;
 letter-spacing: normal;
 text-align: left;
 color: #7a7a7a;
}
@mixin some-text {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
@mixin circle {
  width: 1.5rem;
  height: 1.6rem;
  border: 1px solid white;
  font-size: 1.33rem;  
  color: white;
  max-width: 100%;
  position: relative;
}
body {
    margin: 0;
    font-size: 15px;
    background-color:#f9f9f9;;
}
* {
  box-sizing: border-box;
 
}
 .home-picter{
     width: 100%;
     height: 100%;
 }
  /*header*/
 .header{
     width: 100%;
     height: auto;
     @include flex();
 }
 hr {
   height: 2px;
   color: grey;
   box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 5px;
 }
 section {
    margin: 0 auto;
    width: 75%;
}
 .header-logo{
    padding-left: 3.8rem;
 }
 .header-logo__picter{
     width: 20vh;
 }
 .nav__link:hover{
     color:#00a99d;
 }
 .header-menu{
    margin-left: auto;
    max-width: 100%;
    display: inline-flex;
 }
.navbar{
    list-style: none;
    margin: 0;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
}
.nav-item{
    padding-top: 1.3rem;
    font-size: 0.7rem;
}
.icon-search{
    font-size: 0.8rem;
    color:#00a99d ;
}
  .nav-link{  
    text-decoration: none;
     padding: .8rem;
    color: #4b4a4a;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
  }
  .navbar-light .navbar-nav .nav-link:hover{
      color:#1abb9c;
  }

.icon-search::before {
  font-family: FontAwesome;
    content: "\f002";
}
  // next 

.head{
  width: 100%;
  height: auto;
  padding-top: 6%;
  padding-bottom: 2%;
  @include flex();
  padding-left: 3rem;
  justify-content: center;

}
.head-name{
  width: 26%;
  text-align: center;
  padding-top: 2%;
}
.head-text{
 font-family: 'Raleway', sans-serif;
  font-size: 1.733rem;
  font-weight: 800;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
}
.colortext {
  color:#00a99d ;
}
.line-left, .line-right{
  background-image: linear-gradient(to right, #f9f9f9 -32%, rgba(241, 241, 241, 0) 1%, rgba(228, 228, 228, 0) 50%, rgba(241, 241, 241, 0) 99%, #f9f9f9 132%);

}
.head-line-right, .head-line-left{
  width: 20%;
  padding-top: 2.2%;
  
}
.shape {
  width: 9.5px;
  height: 9.5px;
  opacity: 0.4;
  background-color: #00a99d;
}
.shape-2 {
  width: 12.3px;
  height: 12.3px;
  opacity: 0.7;
  background-color: #00a99d;
}
.shape-3 {
  width: 15.1px;
  height: 15px;
  background-color: #00a99d;
}
.shape-squeare-left, .shape-squeare-right {
  display: flex;
  padding-top: 2.5%;
}
.shape, .shape-2, .shape-3, .block-shape, .block-shape__powerful, .block-shape__powerful-2{
  transform: rotate(45deg);
}
.head-text-next {
  @include some-text();
}
.icon-circle__picter::before{
  font-family: FontAwesome;
    content: "\f059";
    font-size: 2.8rem;
    color: white;
}
.questions-headline{
  font-family: Raleway;
  font-size: 0.9rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
  padding-top: 1rem;
}
.questions-text {
@include about();
  padding-top: 1rem;
  text-align: center;
}
.icon-circle{
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #383838;
  text-align: center;
  border-radius: 50%;
  padding: 1.1rem;
  padding-top: 1.9rem;
  padding-left: 1.8rem;
}
.icon-circle:hover{
  background-color:rgb(0, 169, 157);
}
#circle{
  border: 3px solid white;
}
#icons{
  color: white;
}
.questions {
 @include flex();
  margin-top: 3rem;
  padding-bottom: 4rem;
}
.questions-item {
  text-align: center;
  width: 30%;
  margin-right: 6%;
}
.questions-item:nth-of-type(3n){
  margin-right: 0;
}

#button{
  width: 5.333rem;
  height: 1.9333rem;
  border: 1px solid  #7a7a7a;
  background-color: #dedede;
  margin-top: 1rem;
  border-radius: 5px;
  border-style:none;
}
#button:hover{
  background-color: #00a99d;
}
.read-more{
  font-family: Raleway;
  font-size: 10px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  color: #7a7a7a;
}
.block{
 @include powerful();
 height: 41.266rem;
  padding-left: 7rem;
  z-index: 3;
}
.block-shape{
@include shape();
left:48%;
bottom: 96.5%;
}
#circle-mini{
 @include circle();
  top: 25%;
  left: 29%;
  transform: rotate(45deg);
  
 }
 #icons-mini{
  font-family: ElegantIcons;
  font-size: 1rem;
  color: white;
  max-width: 100%;
  position:absolute;
  left: 30%;
  padding: 1%;
  transform: rotate(-90deg)
}
.block-head-text {
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #e4e4e4;
}
.block-head-name{
  padding-top: 4rem;
  justify-content: center;
  align-items: center;

}
#block-head-name{
  justify-content: center;
  align-items: center;
}
.row{
  width: 100%;
  height: auto;
  justify-content: center;
  margin:0 auto;
}
#block-shape-squeare {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
.block-shape__powerful, .block-shape__powerful-2{
  @include shape();
  left:48%;
bottom: 94%;
}
.some-text {
  @include some-text();
  margin-bottom: 3rem;

}
.block-some-text {
  width: 100%;
  padding-top: 1.5rem;
}
.squeare{
  width: 2.5rem;
  height: 2.2rem;
  border: 3px solid #00a99d;
}
.squeare-1{
width: 1.6rem;
  height: 1.4rem;
  border: 2px solid #00a99d;
}
  .icon-quection{
  font-family: ElegantIcons;
  font-size: 1.2rem;
  color: #00a99d;
  padding: 25%;
}
.icon-quection-1{
font-family: ElegantIcons;
    font-size: .8rem;
    color: #00a99d;
    padding: 2%;
}
.vertical-block__about{
  flex-wrap:wrap;
  width: 35%;
 }
.icon-quection::before{
  font-family: FontAwesome;
  content: "\f128";
}
.icon-quection-1::before{
  font-family: FontAwesome;
  content: "\f128";
}
.assets__icon::before{
  font-family: FontAwesome;
  content: "\f128";
}
.assets__icon{
  font-size:95%;
  color:#00a99d;
  transform: rotate(307deg);
  padding-top: 20%;
    padding-left: 15%;
}
.bacgr{
  background-color:#383838;
}
.vertical-block__name{
  @include text();
  color: #e4e4e4;
}
.vertical-block__text{
  @include about();
  padding-bottom: 3rem;
}
.vertical-block__squeare{
  width: 7%;
}
.vertical-block{
  display: flex;
  flex-direction: row;
  width: auto;
  padding-top: 4rem;
}
.squeare-2, .squeare-3{
  margin-top: 6rem;
}
.block-phones__picter{
position: absolute;
top:52%;
left: 40%;
 z-index: 2;
}
.block-phones__picter-2{
  position: absolute;
  top: 32%;
  left: 64%;
  z-index: 1;
}
.row-2{
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}
.first-bg{
  width: 2.7rem;
  height: 3.5rem;
  background-color:#404040;
  clip-path: polygon(0 0, 100% 1%, 100% 69%, 54% 100%, 0 69%);
}
.second-bg {
  width: 2.7rem;
  height: 3rem;
  margin-top: -2rem;
  background-color: #00a99d;
  clip-path: polygon(100% 24%, 100% 74%, 50% 100%, 0 74%, 0 23%, 50% 52%);
}
div.circle_bg{
  top: 10%;
  left: 22%;
  transform: rotate(90deg);
}
.vertical-block__bg{
  @include text();
  color: #606060;
  padding-left: 4rem;
   margin-top: -5rem;
}
.block-answers{
 @include flex();
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.vertical-block__text__bg{
  padding-left: 4rem;
  @include about();
}
.block-answers__item{
  width: 33%;
  padding-top: 4rem;
  padding-left: 2rem;

}
.mini{
  @include mini();
  padding-left: 4rem;
  padding-top: 0.5rem;
}
.block-phones__picter-2 img,
 .block-phones__picter img{
  height: auto;
  width: 90%;
 }
 .block-powerful__circle{
    width: 95%;
  margin: 0 auto;
  flex-direction: row;
    display: flex;
    justify-content: space-around;
 }
.block-powerful__text{
@include text();
flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}
.persent{
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 0.53;
  color: #e4e4e4;
  position: absolute;
  top:40%;
  left: 30%;
}
#circle-mini__bg{
  @include circle();
  top: 15%;
  left: 22%;
  transform: rotate(90deg);
}
.block-powerful{
  @include powerful();
  height: 25.5rem;
}
.block-assets{
  margin: 0;
  @include flex();
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3.5rem;
}
.block-assets__blocks{
  width: 16.5%;
  height: 200px;
  background-color: #8c8c8c;
  margin-left: 2px;
  margin-top: 2px;
}
.block-assets__content{
 flex-direction:row;
 display:flex;
 flex-wrap:wrap;
 height:70%;
 width:100%;
margin:0 auto;
margin-top:20%;
justify-content:center;
 list-style-type:none;
 opacity:0;
}
.block-assets__blocks:hover{
  background-color: #00a99d;
}
.block-assets__content:hover{
  opacity:1;
}

.illustration{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  color: #e4e4e4;
}
.corporate{
font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.2;
  color: #e4e4e4;
  text-decoration:none;
}
.row-3{
  width: 70%;
  margin: 0 auto;
  @include flex();
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.row-works{
  width: 100%;
  height: 2.5rem;
  background-color: #00a99d;
  border-radius: 5px;
}
.btn-primary{
font-family: Raleway;
font-size: 13px;
font-weight: 800;
line-height: 1.54;
letter-spacing: normal;
text-align: center;
color: #e4e4e4;
display: flex;
justify-content: center;
padding: 10px;
}
// next block

.block-facts, .block-facts-title{
  @include flex();
  width:90%;
  justify-content:space-around;
  margin-top:2rem;
  flex-wrap:wrap;
}
.block-facts-title{
 width: 100%;
 margin-top: 1rem;
}
.block-facts__1{
  display: flex;
  flex-direction: row;
}
.small-squear {
  width: 12.3px;
  height: 12.3px;
  background-color: #484848;
  transform: rotate(45deg);
  align-items: center;
}
.small-squear:hover{
  background-color: #00a99d;
}
.block-facts__number{
  @include number();
  margin-top: -3.5rem;
  padding:1rem
}
.block-small-squear{
  align-items: center;
}
.title{
  text-align: center;
  width: 20%;
  overflow: hidden;
  margin-right:1rem;
}

.title span {
  position: relative;
}
.title span:before {
 @include after();
  top:50%;                         
  right: 10px;                   
}
.title span:after {
 @include after();
  top:50%;
}

.z{
  font-family: ElegantIcons;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #00a99a;
}
.block-facts__text{
  @include text();
  text-align: center;
}
.block__row{
  width: 100%;
  height: 4.4rem;
  background-color: #00a99d;
  @include flex();
  
}
.block__row-text{
font-family: Raleway;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
  color: #e4e4e4;
  padding-top: 1.8rem;
}
.block__row__form{
  padding-top: 1.1rem;
}
.block__row__form, .block__row-1{
  flex-direction:row;
  margin: 0 auto;
  @include flex();
}
 .block__row__form button{
  width: 10rem;
  height: 2rem;
  border-radius: 4px;
  background-color: #e4e4e4;
  margin-left: 0.7rem;
 }
.form-btn-lg{
  width: 118px;
  height: 15px;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
  padding-right: 1rem;
}
.small-button-1{
 @include small-button();
  background-color: #383838;
  border-style: none;
}
.small-button-2{
  @include small-button();
   background-color: #00a99d;
   border-style: none;
}
.small-button__letter{
font-family: ElegantIcons;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #e4e4e4;
}
.members, .row-4{
  @include flex();
  padding-top: 6rem;
  width: 77%;
  margin: 0 auto;
  margin-bottom: 4rem;
  justify-content: space-around;
}


.card-top{
  height: 13rem;
  background-color: #606060;
  @include flex();
  padding-top: 20%;
}
.card-top:hover{
  background-color: #00a99d;
}
.card-top__content:hover{
  opacity: 1;
}
.card-top__content{
  width: 60%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  list-style-type: none;
    opacity: 0;
}
.content-rhombus{ 
width: 2rem;
  height: 2rem;
  background-color: #e4e4e4;
  transform: rotate(45deg);
  padding: .5rem;
}
.rhombus__bacground{
  background-color:#383838;
}
.content-squear{ 
width: 18px;
  height: 17px;
  border: 1px solid #00a99d;
  transform: rotate(316deg);

}
.content-quection::after{
  font-family: FontAwesome;
  content: "\f128"
}
.content-quection{
 color: #00a99d;
 font-size: 65%;
 margin: 0 auto;
 padding-left: 20%;
}
.card{
  margin-left:1rem;
}
.card-body{
  padding:0;
  border-bottom: 1px solid rgb(170, 170, 170);
}
.card-title{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  text-align: center;
  color: rgb(170, 170, 170);
}
.card-text{
font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.67;
  text-align: center;
  color: #aaaaaa;
}
#card-button{
  @include card-button();
    background-color:#00a99d;
}
#card-button:hover{
  background-color:#383838;
}
.members__icon, .members__icon__first{
  color: #aaaaaa;
  margin-top:-.25rem;
  font-size: 0.8rem;
}
.members__icon__first{
  margin-top: -.65rem;
}
.members__squear__first{
  margin-top: 0;
  margin-left: 2rem;
}
.quotation{
  width: 7px;
  height: 20px;
  font-family: ElegantIcons;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #e3e3e3;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: rotate(130deg);  

}
.block-shape__powerful-2{
background-color: #383838;
bottom: 92%;
}
.quote__block{
background-color: #00a99d;
width: 100%;
margin-top: 7rem;
position: relative;
display:flex;
flex-direction: column;
height: 20rem;
}
.about-name{
  width: 15rem;
  height: 2.2rem;
  border-radius: 4px;
  background-color: #e4e4e4;
}
.button, .small-button{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
  .color__second{
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #aaaaaa;
  border-style: none;
}
.first__name{
  font-size: 13px;
  font-weight: 800;
  color: #00a99d;
}
.quote__block__text{ 
  font-family: Raleway;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
  color: #e4e4e4;
}
.quote__block__about{
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}
.quote__block__about-2{
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.carousel{
  width: 100%;
  height: 17rem;
  background-color: #383838;
}
.active-w{
  display: none;
}
.letter-color{
color: #00a99d;
}
.small-button-1__color{
  background-color: #e4e4e4;
  margin-right: .8rem;
}
.small-button-2__color{
background-color: #383838;
}
.squares, .squares__second{
width: 15rem;
  height: 10.3rem;
  background-color: #333333;
  position: relative;
  padding-top: 3.5%;
}
.squares__second{
  padding-top:5%;
}
 .squares__picter{
width: 10rem;
  height: 5.4rem;
  object-fit: contain;
  position: absolute;
    left: 20%;
    top: 20%;
}
.carousel-item__block{
  width: 80%;
  margin: 0 auto;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.square__in__first{
  width: 10.1rem;
  height: 5.5rem;
  background-color: #e4e4e4;
  margin: 0 auto;
}
.square__in__second{
  width: 10.6rem;
  height: 3.26rem;
  background-color: #e4e4e4;
  margin: 0 auto;
}
.square__in__therd{
  width: 9rem;
  height: 5.8rem;
  background-color: #e4e4e4;
  margin: 0 auto;
}
.assets{
  background-color:white;
  display:flex;
  justify-content:row;
  width: 25.1px;
    height: 25px;
}
.quote__block-2 button{
  margin-top:8%;
  margin-left:2%;
}
.quote__block-2 button{
  margin-right:2%;
}
.prices #card-button {
    background-color: #383838;
}
.prices #card-button:hover{
  background-color:rgb(0, 169, 157);
}

.price{
  width:90%;
  margin:0 auto;
  border-bottom:1px solid rgb(170, 170, 170);
  display: flex;
}
.sign{
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(170, 170, 170);
  margin-left: 2rem;
}
.price__numeral{
  font-family: Raleway;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #383838;
  margin: 0 auto;
}
.price__vertical{
  display:flex;
  flex-direction:column;
}
.price__vertical__centi{
font-family: Raleway;
  font-size: 1rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #383838;
  margin-left:.7rem;
}
.price__point{
  width: .8rem;
  height: .8rem;
  background-color: #383838;
  transform: rotate(45deg);
  margin-top:2.2rem;
  margin-left:.7rem;
}
.monthly{
  font-family: Raleway;
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(170, 170, 170);
@include flex();
    align-items: flex-end;
}
.card-title__monthly{
  width: 8rem;
  height: auto;
  margin:0 auto;
  margin-top:1rem;
  margin:0 auto;
}
.card-text__monthly{
  font-family: Raleway;
  font-size: .8rem;
  font-weight: 500;
  line-height: 2.86;
  text-align: center;
  color: rgb(170, 170, 170);
}

.block-powerful__first, .block-powerful__second{
  flex-direction: row;
  display: flex;
  width: 50%;
    justify-content: space-around;
}
.unique-block{
  width: 100%;
  height: 10rem;
  background-color: #8c8c8c ;
  @include flex();
}
.unique-item{
  width: 58%;
  height: 5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
.icon-heart::before {
  font-family: FontAwesome;
    content: "\f004";
}
.icon-heart{
  color: #00a99d;
  font-size: 1.5rem;
}
.unique-item__text{
font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  color: 383838;
}
.unique-item__btn{
  width: 20%;
  height: 6rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  margin-left: 15%;
}
.startap-block{
  width: 100%;
  height: 15rem;
  background-color:#383838 ;
}
.startap-block__logo{
  width: 30%;
  height: 7rem;
  margin: 0 auto;
  display: flex;
    justify-content: center;
}
.startap-logo__foto{
  width: 30%;
  height: 2rem;
  margin-top: 2rem;
}
.startap-block__icon{
  display: flex;
  justify-content: center;
}
.social a {
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #000;
}
.foto{
  width: 100%;
  height: 30rem;
}
.form-group {
  margin-bottom: 1rem;
  width: 90%;
}
.row-footer{
  justify-content: flex-start;
}
textarea.form-control, .btn-success {
  margin-left:1rem;
}
#contactForm{
position: absolute;
margin-top: -90%;
width: 65%;
}
@media(max-width:#{$desktop}) {
  .block-assets__blocks{
    width:16.4%;
    height: auto;
  }
  section {
    width: 95%;
 }
 .sign{
   margin-left:0;
 }
 .head, .block-powerful{
   padding-left:0;
   height: auto;
 }
}
 @media(max-width:#{$tablet}) {
   .header-menu .icon-search {
    display: none;
 }
 section {
    width: 95%;
 }
 .head{
   justify-content: space-around;
 }
 .sign{
   margin-left:0;
 }
 .quote__block__about-2, .row-4, .members{
   width:95%;
 }
 html{
  font-size: 90%;
}
.form-btn-lg{
  font-size: 11px;
}
.block__row-text{
  font-size: 12px;
}
.vertical-block__text__bg{
  padding-left: 0;
}
.block-powerful__circle, .block-phones__picter img, .block-phones__picter-2 img {
  width: 85%;
 }
 .vertical-block__about {
  width: 30%;
}
.block{
  padding-left: 2%;
}
.squares{
  width: 100%;
}
#card-button {
  font-size: .7rem;
}

 }
 @media(max-width:#{$tablet_md}) {
  .block{padding-left:1rem;
 }
 .some-text{
   padding-left: 4rem;
 }
 .row-2 {
  width: 90%;
  margin: 0 auto;
 }
  #block-shape-squeare {
    width:10%;
    padding-top: 7%;
  }
  html{
    font-size: 80%;
  }
  .form-btn-lg{
    font-size: 9px;
  }
  .block__row-text {
    font-size: 11px;
  }
  .head-name {
    width:40%;
 }
 .head{
   padding-left:0;
 }
 .small-button-1, .small-button-2{
   display:none;
 }
 .block-facts{
   width:100%;
 }
 .block__row-text{
   padding-left:1rem;
 }
 .block__row__form {
   padding-right:.5rem;
 }
 .quote__block__about-2, .row-4, .members, .vertical-block {
   width:95%;
 }
 .vertical-block{
   padding: 4%;
 }
 .first__name {
  font-size: 10px;
 }
 #card-button {
   font-size: .6rem;
 }
 .block-facts__number {
  font-size: 4rem;
  padding: 0;
 }
 .block-powerful__circle, .block-phones__picter img, .block-phones__picter-2 img, .quote__block__about-2 {
  width: 85%;
}
.read-more{
  font-size: 8px;
}
.block-assets__blocks {
  width: 16%;
 }
 .quote__block {
  height: auto;
}
.block-powerful__first, .block-powerful__second{
  flex-direction: row;
  display: flex;
  
}
.unique-item__btn {
  width: 30%;
  margin-left: 10%;
}
}

 @media(max-width:#{$tablet_sm}){
    html{
      font-size: 75%;
    }
    .block-powerful__circle, .block-phones__picter img, .block-phones__picter-2 img, .quote__block__about-2 {
      width: 90%;
      flex-wrap: wrap;
    }
    .read-more{
      font-size: 7px;
    }
    .block-assets__blocks {
      width: 24.5%;
    }
    #card-button {
      font-size: .5rem;
    }
    .block-powerful__first, .block-powerful__second{
    flex-direction: row;
    display: flex;
    width: 60%;
  }
    .first__name {
      font-size: 9px;
     }
     .form-btn-l, .corporate{
      font-size: 8px;
    }
    .block__row-text, .card-text {
      font-size: 10px;
    }
    .price__numeral {
      font-size: 3rem;
  }
  .price__point {
    width: .6rem;
    height: .6rem;
    margin-top: 2.9rem;
  }
  .card {
    font-size: .8rem;
    margin-bottom: 2rem;
  }
  .card-title, .mini {
    font-size: 11px;
  }
  .quote__block__text {
    font-size: 1.2rem;
  }
  .card-text__monthly {
    font-size: .7rem;
  }
  .quote__block {
    height: auto;
  }
  .members, .row-4{
    flex-wrap: wrap;
    width: 80%;
  }
  .questions-item:nth-of-type(3n) {
    margin: 0 auto; 
}
.questions-item {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.questions {
  flex-wrap: wrap;
 }
 .assets {
  width: 15.1px;
  height: 15px;
}
.assets__icon {
  font-size: 65%;
}
.block-powerful__text {
  font-size: .65rem;
}
.quote__block__about-2{
  display: none;
}
.active-w{
  display: flex;
  width: 100%;
  height: -webkit-fill-available;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.block-powerful__first, .block-powerful__second{
  width: 90%;
}
.unique-item__btn {
  width: 30%;
  margin-left: 10%;
}
.unique-item__text {
  font-size: 1.4rem;
}
.unique-block {
  height: 8rem;
}
 }
@media(max-width:#{$mobile}) {
  html{
    font-size: 70%;
  }
  .block-assets__blocks {
    width: 32.7%;
  }
  #block-shape-squeare {
    width: 15%;
    padding-top: 8%;
    justify-content: inherit;
}
.assets {
  width: 15.1px;
  height: 15px;
}
.assets__icon {
  font-size: 65%;
}
.corporate, .block__row-text, .card-text, .color__second, .illustration {
  font-size: 8px;
}
.mini, .btn-primary, .card-title {
  font-size: 9px;
}
.first__name, .form-btn-lg  {
  font-size: 7px;
}
.block-phones{
  display: none;
}
.vertical-block__about {
  width: 100%;
  padding-left: 3%;
}
.vertical-block {
  padding: 2%;
}
.vertical-block__text__bg, .head-text-next {
  font-size: .7rem;
}
.small-squear {
  width: 10px;
  height: 10px;
}
.row-2 {
  width: 100%;
}
.quote__block {
  height: auto;
}
.members, .row-4{
  width: 90%;
  flex-wrap: wrap;
}
.block-powerful__first, .block-powerful__second{
  flex-wrap: nowrap;
}
.block-powerful__row{
  width: 25%;
}
.block-assets__content {
  margin-top: 10%;
}
.quote__block__about-2{
  width: 90%;
}
.block-facts__number {
  font-size: 3rem;
  padding: 1rem;
}
.block-answers__item {
  width: 50%;
}
.vertical-block__text__bg {
  padding-top: 1rem
}
.block__row__form button {
  width: 6rem;
}
#card-button {
  width: 50%;
}
.block-powerful__text {
  font-size: .6rem;
}
.unique-item__text {
  font-size: 1.2rem;
}
.unique-item {
  width: 65%;
}
}

@media(max-width:#{$mobile_md}){
  html{
    font-size: 65%;
  }
  .assets {
    width: 14px;
    height: 14px;
  }
  .assets__icon {
    font-size: 60%;
  }
  .corporate, .block__row-text, .card-text, .color__second, .illustration {
    font-size: 7px;
  }
  .quote__block__text {
    font-size: 1rem;
  }
  .head-text {
    font-size: 1.533rem;
  }
  .some-text {
     padding-left: 3px;
  }
  .shape-3 {
    width: 13.1px;
    height: 13px;
  }
  #block-shape-squeare {
    padding-top: 10%;
  }
  .illustration__numer{
    display: none;
  }
  #circle {
    border: 2px solid #fff;
  }
  .squeare {
    border: 2px solid #00a99d;
}
.price__numeral {
  font-size: 2.5rem;
}
#card-button {
  width: 40%;
}
.block-shape__powerful-2 {
  bottom: 89%;
}
.block-shape {
  bottom: 96.2%;
}
.block-powerful__text {
  font-size: .5rem;
}
.icon-quection-1{
  display: none;
}
.content-squear {
  width: 13px;
  height: 12px;
}
.unique-item__text {
  font-size: 1rem;
}
}

@media(max-width:#{$mobile_sm}){
  .shape-3 {
    width: 11px;
    height: 11px;
}
.shape-2 {
  width: 10px;
  height: 10px;
}
.shape {
  width: 8px;
  height: 8px;
}
.shape-squeare-left{
  padding-top: 3%;
}
#block-shape-squeare {
  padding-top: 13.5%;
}
.block__about {
  padding-left: 10%;
  padding-top: 2%;
}
.vertical-block__squeare {
  width: auto;
}
.block-some-text {
  width: 90%;
  padding-top: .8rem;
}
.some-text{
  font-size: .8rem;
}
.block-head-text {
  font-size: 1.5rem;
}
.block-powerful__circle, .quote__block__about-2 {
  width: 95%;
}
.icon-quection-1{
  display: none;
}
.block-facts__number {
  font-size: 2rem;
}
.small-squear {
  width: 7px;
  height: 7px;
}
.first__name, .form-btn-lg {
  font-size: 6px;
}
.content-squear {
  width: 13px;
  height: 12px;
}
.quote__block__text {
  font-size: .8rem;
}
.about-name {
  width: 11rem;
  height: 1.9rem;
}
.block-shape__powerful-2 {
  bottom: 87%;
}
.head-text {
  font-size: 1.33rem;
}
.mini {
  font-size: 7px;
}
#card-button{
  top:-7%;
}
.shape-squeare-left, .shape-squeare-right {
  padding-top: 4%;
}
.card-top {
  height: 11rem;
}
.unique-item__btn {
  width: 40%;
  margin-left: -5%;
}
}
 