body { 
    overflow-x: hidden;
    background-image: url(images/Layer\ 20\ copy\ 3@2x.png);
  box-sizing: border-box;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h3, h4, h5, h6, div, span, a, li, ul, p {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

*li {
  list-style: none;
}
.firstblock{
  max-width: 1449px;
}
section {
  background: #ebebeb;
}
.header-firstline {
  height: 66px;
  background: #373737;
}

.header-firstline__square {
  position: absolute;
  width: 80px;
  height: 66px;
  background-color: #f26c4f;
}

.header-firstline__triangle {
   position: absolute;
  left: 14px;
  width: 78px;
  height: 66px; 
  background-color: #f26c4f;
  clip-path: polygon(0% 0%, 60% 0, 100% 50%, 60% 100%, 0% 100%);
}
.header-firstline__text {
  position: absolute;
  left: 30px;
  font-family: Nexa;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}
.good-inc-text h3 {
  font-family: Nexa;
  font-size: 18px;
  color: #fff;
}

.good-inc-text {
  position: absolute;
  top: 20px;
  left: 102px;
}
.header-secondline {
  height: 69px;
  background-color: #474747;
}
.bg-light {
  background-color: #474747!important;
}
/* .navbar-nav  {
  font-family: Arial;
  font-size: 12px;
  color: #fff;
} */
#nav-link{
  font-family: Arial;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 30px;
  width: 401px;
}
.nav-item:not(:last-child):after {
  padding-left: 20px;
  content: "|";
  color: #767676;
}

.nav-item:before {
  content: "";
  transition: .2s linear;
}

.nav-item:hover:before {
  position: absolute;
  top: 65px;
  width: 48px;
  height: 4px;
  background-color: #f26c4f;
}
.nav-item:nth-child(3):hover:before {
  width: 27px;
  height: 4px;
  content: "";
  transition: .2s linear;
}

.nav-item:nth-child(4):hover:before {
  width: 42px;
  height: 4px;
  content: "";
  transition: .2s linear;
}
.nav-item:nth-child(5):hover:before {
  width: 42px;
  height: 4px;
  content: "";
  transition: .2s linear;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.input__item {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  padding-left: 20px;
  width: 19rem;
  height: 46px;
  box-shadow: 0px 1px 0px 0 #000000;
  border: none;
  background-color: #ffffff;
}
.input:after {
  position: absolute;
  top: 22px;
  left: 284px;
  font-family: FontAwesome;
  content: "\f017";
  font-size: 23px;
  color: #f26c4f;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 270px;
  text-shadow: 0px 1px 0 #ffffff;
}
.link__item {
  font-family: Arial;
  font-size: 12px;
  color: #8f8f8f;
}

.link a:first-child:before {
  font-family: FontAwesome;
  content: "\f099";
  padding-right: 6px;
}

.link a:nth-child(2):before {
  font-family: FontAwesome;
  content: "\f39e";
  padding-right: 7px;
}
.link a:nth-child(3):before {
  font-family: FontAwesome;
  content: "\f09e";
  padding-right: 7px;
}

.link a:last-child:before {
  font-family: FontAwesome;
  content: "\f0e0";
  padding-right: 7px;
}
.section-1{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  max-width: 942px;
}
  .bridge{
      justify-content: center;
   }
    .foto-bridge{
       width: 100%;
       height: 24.4375rem;
        }
      .img {
          position: relative;
      }
      .img__item {
          width: 100%;
          height: 391px;
        
      }
      .img__figure {
          position: absolute;
          left: 26.8%;
          top:25rem;
          background-color: rgba(0, 0, 0, 0.5);
          width: 40%;
          height: 62px;
          z-index: 2;
      }
      
      .img__figure__text {
          position: absolute;
          top: 12px;
          left: 29px;
          font-family: Arial;
          font-weight: 300;
          font-size: 16px;
          color: #fff;
      }
      
      .text h2 {
          color: #fff;
          font-family: Arial;
          font-size: 19px;
          font-weight: bold;
          line-height: 1.5;
          padding-bottom: 10px;
          max-width: 222px;
      }
      
      .text p {
          color: #a7a7a7;
          font-family: Arial;
          font-size: 12px;
          line-height: 1.92;
          padding-bottom: 20px;
          max-width: 222px;
  }
      .text__item:nth-child(3) {
          margin-top: -15px;
          padding-left: 147px;
      }
      
      .text__item:last-child:before {
          position: relative;
          top: 2px;
          font-family: FontAwesome;
          font-size: 18px;
          content: "\f017";
          padding-right: 7px;
      }
      
      .section-1__text {
          position: relative;
          color: #a7a7a7;
          background: #373737;
          width: 19.4375rem;
          height: 24.4375rem;
      }
      .text__item:nth-child(1) {
          padding-top: 42px;
          padding-left: 46px;
      }
      
      .text__item:nth-child(2) {
          padding-left: 46px;
      }
      .text__item:nth-child(3){
        margin-top: 10px;
      }
      .rectangle-11 {
          position: absolute;
          top: 0;
          left: 0;
          width: 9px;
          height: 391px;
          background-color: #f26c4f;
      }
      
      .shape-4 {
          position: absolute;
          left: 0;
          top: 40px;
          width: 22px;
          height: 31px;
          background-color: #f26c4f;
          clip-path: polygon(0% 0%, 40% 0, 100% 50%, 40% 100%, 0% 100%);
      }
.section-2 {
  padding-bottom: 20px;
  max-width: 942px;
}

.quality {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.unit {
  position: relative;
  width: 32%;
  height: auto;
  box-shadow: 0px 1px 0 0 #d3d3d3;
  background: #fff;
}

.unit img {
  width: 100%;
  height: 50%;
}
.unit h2 {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #4f4f4f;
}
.unit p {
  font-family: Arial;
  font-size: 12px;
  color: #646464;
  line-height: 2;
}
.unit__item {
  position: relative;
  top: 20px;
  left: 5%;
  margin-bottom: 15px;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
}

.banner__bg {
  width: 95px;
  height: 126px;
  background-color: #f26c4f;
  clip-path: polygon(10% 0, 100% 70%, 100% 0);
}
.banner__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 15px;;
}

.banner__plus__vertical {
  width: 2px;
  height: 14.3px;
  background-color: #ffffff;
}  
.banner__plus__horizontal {
  margin-left: -8px;
  width: 14.3px;
  height: 2px;
  background-color: #ffffff;
}  
  
  .item-1{
  max-width: 290px;
  height: 581px;
  box-shadow: 0px 1px 0 0 #d3d3d3;
  background-color: black;
  }
  .foto-s{
  max-width: 290px;
  height: 294px;
  background-position: right;
  background-image: url(images/Layer\ 9.png);
  }
  .heading{
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #ffffff;
  margin-left: 28px;
  margin-top: 25px;
  }
  .text{
  width: 240px;
  height: 173.4px;
  font-family: Arial;
  font-size: 12px;
  line-height: 2;
  text-align: left;
  color: #ffffff;
  margin-left: 28px;
  }
  .banner-3{
  content: "";
   width: 0; 
   height: 0;
   border-top: 95px solid #f26c4f;
   border-left: 95px solid transparent;
   position: relative;
  left: 196px;
  }
  .banner__plus3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70px;
    right: 15px;;
  }
  
  .banner__plus__vertical3 {
    width: 2px;
    height: 14.3px;
    background-color: #ffffff;
  }  
  .banner__plus__horizontal3 {
    margin-left: -8px;
    width: 14.3px;
    height: 2px;
    background-color: #ffffff;
  }  

  .text-1{
  max-width: 283.9px;
  height: 62.8px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  letter-spacing: -0.19px;
  text-align: left;
  color: #474747;
  margin-top: 5px;
  margin-left: 15px;
  }
  .text-2{
  max-width: 283.7px;
  height: 90.5px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 12px;
  line-height: 1.92;
  text-align: left;
  color: #a7a7a7;
  margin-left: 15px;
  }
  .data{
    width: 105px;
    height: 14px;
    text-shadow: 0px 1px 0 #ffffff;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.12px;
    text-align: left;
    color: #8f8f8f;
  }
  .rectangle-2 {
    width: 274px;
    height: 1px;
    box-shadow: 0px 1px 0 0 #ffffff;
    background-color: #000000;
    margin-top: 25px;
  }
  .text-3{
  max-width: 283.9px;
  height: 72.8px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  letter-spacing: -0.19px;
  text-align: left;
  color: #474747;
  margin-top: 60px;
  margin-left: 15px;
  }
  .text-4{
   max-width: 283.7px;
  height: 90.5px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 12px;
  line-height: 1.92;
  text-align: left;
  color: #a7a7a7;
  margin-left: 15px;
  }
  .data-2{
  width: 105px;
  height: 14px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.12px;
  text-align: left;
  color: #8f8f8f;
  }
  .button-1{
  width: 300px;
  height: 44px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  margin-top: 40px;
  position: relative;
  border-left:4px solid grey;
  }
  .button-1__item{
    max-width: 148px;
    height: 48.3px;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.25;
    letter-spacing: -0.16px;
    text-align: left;
    color: #474747;
    position: absolute;
    margin-left: 30px;
    top: 5px;
  }
  .blaz-robar{
    width: 148px;
    height: 43px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.92;
    text-align: left;
    color: #a7a7a7;
    margin-left: 5px;
  }
  .button-2__item {
    max-width: 148px;
    height: 48.3px;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.25;
    letter-spacing: -0.16px;
    text-align: left;
    color: #474747;
    position: absolute;
    margin-left: 30px;
    top:5px;
  }
  .button-2__line {
    max-width: 148px;
    height: 43px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.92;
    text-align: left;
    color: #a7a7a7;
    margin-left: 5px;
  }
  .button-2{
      width: 300px;
      height: 44px;
      box-shadow: 0px 1px 1px 0 #000000;
      background-color: #ffffff;
      margin-top: 10px;
      position: relative;
      border-left:4px solid grey;
    }
    .button-3__item {
      width: 148px;
      height: 48.3px;
      font-family: Arial;
      font-size: 1rem;
      font-weight: bold;
      line-height: 2.25;
      letter-spacing: -0.16px;
      text-align: left;
      color: #474747;
      position: absolute;
      margin-left: 30px;
      top: 5px;
    }
    .button-3__line {
      width: 148px;
      height: 43px;
      font-family: Arial;
      font-size: 12px;
      line-height: 1.92;
      text-align: left;
      color: #a7a7a7;
      margin-left: 8px;
      position: absolute;
      top:7px;
    }
    .button-3{
      width: 300px;
      height: 44px;
      box-shadow: 0px 1px 1px 0 #000000;
      background-color: #ffffff;
      margin-top: 10px;
      position: relative;
      border-left:4px solid grey;
    }
    .button-4__video {
      width: 148px;
      height: 48.3px;
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      line-height: 2.25;
      letter-spacing: -0.16px;
      text-align: left;
      color: #474747;
      position: absolute;
      margin-left: 30px;
      top: 5px;
    }
    .john-smith {
      width: 148px;
      height: 43px;
      font-family: Arial;
      font-size: 12px;
      line-height: 1.92;
      text-align: left;
      color: #a7a7a7;
      position: absolute;
      top: 6px;
      left: 150px;
    }
    .button-4{
      width: 300px;
      height: 44px;
      box-shadow: 0px 1px 1px 0 #000000;
      background-color: #ffffff;
      margin-top: 10px;
      position: relative;
      border-left:4px solid grey;
    }
    .move::before{
      font-family: FontAwesome;
      content:"\f0a9";
    }
  .move{
    position: relative;
    right: 80px;
    top:60px;
    opacity: 0;
   font-size: 24px;
  color: #d4d4d4;
  
  }
  .horizontal-box:hover .move {
    opacity: 1;
  
  }
  .horizontal-box-a:hover .move {
    opacity: 1;
    top:15px;
    
  }
  .horizontal-box-b:hover .move {
  opacity: 1;
  top:10px;
  }
  
    .horizontal{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .next-col{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1px;
    left: 634px;
   }
   .column {
     padding-top: 4rem;
   }

   .horizontal-box{ 
    max-width: 600px;
    height: 173px;
    box-shadow: 0px 1px 1px 0 #000000;
    background-color: #ffffff;
    border-left: 4px solid  #f26c4f; 
    margin-bottom: 10px;
  }
  .horizontal-box:hover{
    background-color: #f26c4f;
    content:"\f5a8";
    
  }
  .horizontal-box:hover .good-inc-good-choice,
  .horizontal-box:hover .mini,
  .horizontal-box:hover .star,
  .horizontal-box:hover .text-5,
  .horizontal-box:hover .text-6,
  .horizontal-box:hover .text-7{
    color: #ffffff;
  }
  .internal-1{
    display: flex;
    flex-direction: row;
    padding-left: 35px;
    padding-top: 15px;   
  }
  .good-inc-good-choice{
  max-width: 700px;
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #474747;
  }
  .star{
  width: 15px;
  height: 14px;
  color: #afafaf;
  font-size: 12px;  
  }
  .star::before{
  font-family: FontAwesome;
  content:"\f005";
  }
  .text-5, .text-7{
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 0.750rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  }
  .text-6{
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #474747; 
  }
  .mini {
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 2.1;
  letter-spacing: 0.1px;
  text-align: left;
  color: #8f8f8f;
  float: left;
  text-decoration: none;
  margin-right: 10px;
  }
  .mini:nth-last-child(n+2):after {
  content: ' | ';
  padding-left: 25px;
  }
  
  .horizontal-box-a{
  max-width: 600px;
  height: 98px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  margin-top: 10px;
  border-left: 4px solid  #f26c4f;
  }
  .horizontal-box-a:hover{
  background-color:#f26c4f;
  content:"\f5a8";
  }
  .horizontal-box-a:hover .mini,
  .horizontal-box-a:hover .text-8{
    color: #ffffff;
  
  }
  
  .internal-4{
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-top: 5px;
  }
  .text-8{
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #474747;
  }
  .text-9, .text-10, .text-11, .text-12{
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.18px;
  text-align: left;
  color: #474747;
  }
  .horizontal-box-b{
  max-width: 600px;
  height: 76px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  border-left: 4px solid  #f26c4f;
  margin-top: 10px;
  }
  .horizontal-box-b:hover .mini,
  .horizontal-box-b:hover .text-8,
  .horizontal-box-b:hover .text-5,
  .horizontal-box-b:hover .star,
  .horizontal-box-b:hover .text-10,
  .horizontal-box-b:hover .text-9,
  .horizontal-box-b:hover .text-11,
  .horizontal-box-b:hover .text-12{
    color: #ffffff;
  }
  .horizontal-box-b:hover{
  background-color: #f26c4f;
  }
  .horizontal-box-8{
  max-width: 600px;
  height: 75px;
  }
  .internal-8{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 25px;
  padding-top: 30px;
  }
  .read{
  text-shadow: 0px 1px 0 #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-align: center;
  color: #bdbdbd;
  position: relative;
  }
  .plus-cirkle{
  width: 1.1875rem;
  height: 1.1875rem;
  font-size: 20px;
  color: #bdbdbd;
  position: absolute;
  left: 35px;
  }
  .plus-cirkle::before{
  font-family: FontAwesome;
  content:"\f055";
  }
  .horizontal-box-9{
  max-width: 600px;
  height: 335px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  margin-top: 30px;
  }
  .internal-9{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 45px;
  padding-top: 35px;
  }
  .text-13{
  font-family: Arial;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  }
  .text-14{
  font-family: Arial;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  padding-top: 25px;
  }
  em{
  color: #f26c4f;
  }
  .text-14-2{
  font-family: Arial;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  padding-top: 25px;
  }
  .horizontal-box-10{
  max-width: 600px;
  height: 41px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #efefef;
  }
  .internal-10{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-top: 3px;
  justify-content:  flex-start;
  }
  .internal-10__april{
  font-family: Arial;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a2a2a2;
  padding-top: 8px;
  padding-left: 35px;
  }
  .internal-10__number{
  font-family: Arial;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a2a2a2;
  padding-left: 70%;
  padding-top: 8px;
  padding-right: 10px;
  }
  .internal-10__heart{
  width: 11px;
  height: 10px;
  color: #f26c4f;
  padding-top: 15px;
  font-size: 12px;
  }
  .internal-10__heart::before{
  font-family: FontAwesome;
  content:"\f004";
  }
  .horizontal-box-11{
  max-width: 600px;
  height: 613px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  margin-top: 30px;
  }
  .internal-11__foto{
    width: 100%;
    height: auto;
  }
  .text-15{
  font-family: Arial;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  padding-left: 50px;
  padding-top: 33.7px;
  
  }
  .text-16{
  font-family: Arial;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #949494;
  padding-top: 10px;
  }
  .horizontal-box-12{
  max-width: 600px;
  height: 482px;
  box-shadow: 0px 1px 1px 0 #000000;
  background-color: #ffffff;
  margin-top: 35px;
  margin-bottom: 120px;
  }
  .text-17{
  font-family: Arial;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  padding-top: 35px;
  padding-left: 50px;
  }
  .text-18, .text-18-1, .text-18-2{
  font-family: Arial;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #949494;
  padding-top: 35px;
  }
  #pageFooter{
  max-width: 1449px;
  height: 140px;
  background-color:#474747;
  }
  .footer{
    display: flex;
    flex-direction: row;
  }
  .footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 14%;
  }
  .footer-text__item{
  height: 50px;
  font-family: Arial;
  font-size: 12px;
  line-height: 3.42;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 15px;
  }
  .footer-text__line{
  max-width: 780px;
  height: 61.7px;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: normal;
  text-align: left;
  color: #7e7e7e;
  padding-left: 15%;
  }
  .fa-list{
   font-size: 30px;
  }
  header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
  }
  #dws-menu, header label{
    display: none;
  }
  @media (max-width:1142px) { 
    .footer-text, .footer-text__line{
      padding-left: 5px;
  }
  .header-secondline{
    height: auto;
  }
  .footer-text__line{
  width: 95%;
  margin: 0 auto;
}
.footer{
  width: 90%;
}
.navbar-nav{
  flex-direction: row;
  }
  .move{
    display: none;
  }
}
  @media (max-width:961px) {
   .next-col{
       display: none;
   }
   .navbar-nav{
     flex-direction: row;
   }
   .header-secondline{
     height: auto;
   }
   .link{
     padding-right: 5px;
   }
   .text__item:nth-child(1) {
    padding-top:2px;
   }
   .footer{
    width: 90%;
    margin: 0 auto;
   }
   .footer-text__line{
    width: 95%;
    margin: 0 auto;
  }
   .text__item:nth-child(1) {
    font-size: 1.7rem;
    padding-top: 2rem;
   }
   .text__item:nth-child(2) {
   font-size: .9rem;
   padding-top: 2rem;
   }
   .text__item:nth-child(3) {
   font-size: .6rem;
   }
   .move{
    display: none;
  }
}
  @media (max-width:780px){
    .horizontal-box, .horizontal-box-a, .horizontal-box-b, .horizontal-box-8, .horizontal-box-9, .horizontal-box-10, .horizontal-box-11, .horizontal-box-12{
      height: auto;
    }
    .header-secondline{
      height: auto;
    }
    .text__item:nth-child(1) {
      font-size: 1.5rem;
      padding-top: 2rem;
     }
     .text__item:nth-child(2) {
     font-size: .8rem;
     padding-top: 2rem;
     }
     .text__item:nth-child(3) {
     font-size: .5rem;
     }
    .topbar{
      align-items: flex-end;
      justify-content: flex-end;
    }
    .input:after{
      display: none;
    }
    .quality {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
  }
  .unit{
    width: 55%;
    margin-bottom: 2%;
    height: auto;
  }
  .unit__item{
    top:0;
  }
         .link{
           display: none;
         }
         .img__figure__text, .img__figure { 
          display: none;
        }
        .text-6, .text-8, .good-inc-good-choice, .unit h2 {
      font-size:20px;
    }
    .text-9, .text-10, .text-11, .text-12{
      font-size:18px;
    }
      .text-15, .text-17{
        font-size:1.6rem;
      }
     .text-18, .text-18-1, .text-18-2, .text-16, .text-14-2 {
        font-size:0.8rem;
      }  
      .input__item{
        width: 14rem;
        height: 36px;
      }
      .horizontal-box-12 {
        margin-bottom: 2%;
      }
  .footer{
    width: 100%;
  }
  .container {
    width: 100%;
     padding-right: 0; 
     padding-left: 0;
     margin: 0 auto;
  }
}
  @media (max-width: 660px){

    .internal-1, .internal-4  {
      padding-left: 0;
    }
    .header-secondline{
      height: auto;
    }
    .horizontal{
      padding-bottom: 3%;
    }
    .text-9, .text-10, .text-11, .text-12, .text-6, .text-8, .good-inc-good-choice, .unit h2 {
      font-size:16px;
    }
  
    .text__item:nth-child(1) {
     padding-top:10px;
     padding-left:26px;
     font-size:19px;
  }
  .text__item:nth-child(3){
    padding-left:100px;
    font-size:15px;
  }
  .foto-bridge {
    height: auto;
    width: 100%;
  }
  .input{
    display: none;
  }
  .section-1__text {
    display: none;
  } 
  .text-15, .text-17 {
    font-size: 1.4rem;
    padding-top: 15px;
    padding-left: 30px;
}
.text-13{
  font-size: 1.7rem;
}
.footer-text, .footer-text__line {
  padding-left: 15px;
}
}
  @media (max-width: 560px){
    .text-6, .text-8, .good-inc-good-choice, .unit h2 {
      font-size:13px;
    }
    .text-15, .text-17 {
      font-size: 1.2rem;
    }
    .header-secondline{
      height: auto;
    }
    .footer-text__item {
      font-size: .6rem;
    }
    .text-13{
      font-size: 1.5rem;
    }
    .text-18, .text-18-1, .text-18-2 {
      padding-top: 25px;
    }
    .internal-9 {
    padding-left: 25px;
    padding-top: 17px;
}
.input__item {
  display: none;
}
.internal-10__number {
  padding-left: 60%;
  padding-right: 0;
}
.foto-bridge{
  width: 100%;
}
.navbar-nav{
  flex-direction: row;
  width: auto;
  padding-left: 2%;
}
#nav-link{
  font-size: 11px;
}
}
@media (max-width: 420px){

  .text-6, .text-8, .good-inc-good-choice, .unit h2 {
    font-size:12px;
  }
  .header-secondline{
    height: auto;
  }
  .text-15, .text-17 {
    font-size: 1.1rem;
  }
  .footer-text__item {
    font-size: .5rem;
  }
  .input__item{
    display: none;
  }
  .text-6, .text-8, .text-9, .text-10, .text-11, .text-12, .good-inc-good-choice, .unit h2 {
    font-size:12px;
  }
  .text-15, .text-17, .text-13 {
    font-size: 1rem;
    padding-left: 10px;
  }
  .text-18, .text-18-1, .text-18-2, .text-16, .text-14-2 {
    font-size:0.7rem;
  }  
  .footer-text__item, .text-14, .text-5, .text-7 {
    font-size: .6rem;
  }
  .navbar-nav{
    flex-direction: row;
    width: auto;
    padding-left: 2%;
  }
  #nav-link{
    font-size: 10px;
  }
  .internal-9 {
    padding-left: 5px;
  }
 .row-2{
   width: 100%;
 }
 .unit {
  width: 65%;
 }
}

